<%= form_with(model: @message) do |f| %>
  <div class="field">
    <%= f.label :chat_id %>
    <%= f.number_field :chat_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit "Update Message" %>
  </div>
<% end %>