<h1> New Message </h1>

<%= form_with(model: @message) do |f| %>
    <div>
        <%= f.label :chat_id %>
        <%= f.select :chat_id, @chats.map { |c| ["Chat #{c.id} (between #{c.sender.email} and #{c.receiver.email})", c.id] }, include_blank: true %>
    </div>

    <div>
        <%= f.label :user_id, 'Author' %>
        <%= f.select :user_id, @users.map { |u| [u.email, u.id] }, include_blank: true %>
    </div>

    <div>
        <%= f.label :body %>
        <%= f.text_area :body %>
    </div>

    <%= f.submit 'Create Message' %>
<% end %>

<%= link_to 'Back', messages_path %>