<h1>Users</h1>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.first_name %> <%= user.last_name %> - <%= user.email %><br>
      
      <%= link_to 'Show', user_path(user) %> |
      <%= link_to 'Edit', edit_user_path(user) %>
    </li>
    <hr>
  <% end %>
</ul>

<%= link_to 'New User', new_user_path %>