<h1>Edit Chat</h1>

<% if @chat.errors.any? %>
  <div class="errors">
    <h2><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h2>
    <ul>
      <% @chat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @chat) do |f| %>
  <% if @chat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h2>
      <ul>
        <% @chat.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :sender_id %>
    <%= f.select :sender_id, @users.map { |u| [u.email, u.id] }, include_blank: true %>
  </div> 

  <div>
    <%= f.label :receiver_id %>
    <%= f.select :receiver_id, @users.map { |u| [u.email, u.id] }, include_blank: true %>
  </div> 

  <%= f.submit 'Update Chat' %>
<% end %>

<%= link_to 'Show', @chat %> |
<%= link_to 'Volver', chats_path %>
